{% extends "base.html" %}

{% block title %}Streaming - Home Page{% endblock %}

{% block content %}
<style>
    .col-md-4 {
        position: relative; /* Mantieni il contenitore come relativo */
    }

    .card-body,
    .list-group {
        display: none; /* Nascondi per default */
        width: 100%;
        position: absolute; /* Posiziona gli elementi in modo assoluto */
        top: 100%; /* Sposta verso il basso */
        left: 0; /* Mantieni a sinistra */
        z-index: 1; /* Assicurati che si sovrappongano ad altri elementi */
    }

    .col-md-4:hover .card-body,
    .col-md-4:hover .list-group {
        display: block; /* Mostra al passaggio del mouse */
    }
</style>
<div class="row">
    <div class="col-mb-3">
        <h2 class="fw-bold">Streaming Catalog</h2>
        <br>
    </div>
    <div class="container">
        <div class="row" id="film-list">
            <p>Loading films...</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "{{ url_for('auth.get_films_route') }}",
            method: "GET",
            success: function(data) {
                $('#film-list').empty(); // Pulisce il messaggio di caricamento
                data.forEach(function(film, index) {
                    $('#film-list').append(`
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <img src="${film.img_url}" class="card-img-top" alt="${film.title}">
                                <div class="card-body" style="padding: 0;">
                                    <a href="https://streamingcommunity.computer/titles/${film.title}-a" class="btn btn-primary">Play</a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse${index}" aria-expanded="false" aria-controls="flush-collapse${index}">
                                                    <strong>Descrizione:</strong>
                                                </button>
                                            </h2>
                                            <div id="flush-collapse${index}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">${film.description}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="list-group-item"><strong>Durata:</strong> ${film.runtime} min</li>
                                    <li class="list-group-item"><strong>Generi:</strong> ${film.genres.join(', ')}</li>
                                </ul>
                            </div>
                        </div>
                    `);
                });
            },
            error: function(error) {
                $('#film-list').html('<p>Error loading films</p>');
            }
        });
    });
</script>
{% endblock %}
